<div class="card" style="width: 21.5em;margin:0 auto;">
  <img src="/img/imagen.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Informacion completa del animal XXX</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>